h1 {
    border: 2px #EEEEEE solid;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
    background-color: darkgoldenrod;

}
div{
    width: 100%;
    border-radius: 6px;
    background-color: darkgoldenrod;
    padding: 50px;
